<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" rel="stylesheet" />
</head>
<body>
<div class="container">
    @RenderBody()
</div>
</body>
</html>